<template>
    <div>
        <h1>Realtime messaging</h1>

        <div class="flex">
            <form class="messages-create" @submit.prevent="sendMessage">
                <div class="form-group">
                    <textarea class="form-control" v-model="message" rows="5" placeholder="Type your message"></textarea>
                </div>
                <button class="btn btn-primary">Send</button>
            </form>

            <div class="messages">
                <div v-for="(item, index) in messages" :key="index" :class="['message', item.status]">
                    <div>
                        <span class="message-author">{{item.user.name}}:</span><br>
                        <span class="message-body">{{item.message}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import Pusher from 'pusher-js'

export default {
    data() {
        return {
            message: null,
            messages: [],
        }
    },
    created() {
        const channel = 'test-channel'
        const event = 'test-event'
        this.subscribe(channel, event, this.processIncomingMessage)
    },
    methods: {
        subscribe(channel, event, handle) {
            let pusher = new Pusher(process.env.MIX_PUSHER_APP_KEY, { cluster: process.env.MIX_PUSHER_APP_CLUSTER })
            pusher.subscribe('test-channel')
            pusher.bind('test-event', (data) => handle(data))
        },
        processIncomingMessage(data) {
            if (data.user.id === this.signedUser.id) return
            this.messages.push({...data, status: 'in'})
        },
        processOutgoingMessage(message) {
            this.messages.push({message, status: 'out', user: { name: 'me'}})
        },
        sendMessage() {
            const url = '/api/chat'
            axios.post(url, { message: this.message })
                .then(response => this.processOutgoingMessage(this.message))
                .catch(errors => console.error(errors))
        }
    }
}
</script>

<style scoped>
.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.flex > * {
    width: 50%;
    padding: 10px;
}
.messages {
    display: flex;
    flex-direction: column;
}
.message {
    display: inline-flex;
    padding: 5px;
    margin: 2px;
    border-radius: 4px;
}
.in {
    background: #1f77b4;
    color: #ffffff;
    align-self: flex-start;
    margin-right: 20px;
}
.out {
    background: #2ca02c;
    color: #ffffff;
    align-self: flex-end;
    margin-left: 20px;
    text-align: right;
}
.message-author {
    font-weight: bold;
    text-decoration: underline;
}
</style>
