// General
*, *:before, *:after {
    box-sizing: border-box;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

// Positioning table items
.x-table-wrapper {
    overflow: auto;
}
.x-table {
    min-width: 800px;
    overflow: hidden;
}
.x-table-content {
    overflow-y: auto;
    overflow-x: hidden;
}
// Hide scrollbar
// Safari and Chrome
.x-table-content::-webkit-scrollbar {
    display: none;
    // width: 0px;  /* Remove scrollbar space */
    // background: transparent;  /* Optional: just make scrollbar invisible */
}
// Firefox
.x-table-content {
    scrollbar-width: none;  
}
// IE 10+
.x-table-content {
    -ms-overflow-style: none;  
}
.x-row,
.x-row-header,
.x-row-footer {
    display: flex;
    flex-flow: row;
}
.x-row,
.x-row-header {
    border-bottom: 1px solid rgb(222, 222, 222);
}
.x-row:hover {
    box-shadow: 0 0 10px 1px rgba(51, 72, 97, 0.3);
}
.x-cell,
.x-header {
    padding: 0.5em;
    overflow: hidden;
}

// Flex item width
.x-w-5 {
    flex-basis: 5%;
}
.x-w-10 {
    flex-basis: 10%;
    // min-width: 50px;
}
.x-w-20 {
    flex-basis: 20%;
    // min-width: 100px;
}
.x-w-25 {
    flex-basis: 25%;
}
.x-w-30 {
    flex-basis: 30%;
    // min-width: 150px;
}
.x-w-40 {
    flex-basis: 40%;
}
.x-w-50 {
    flex-basis: 50%;
}

// Colors
.danger {
    background-color: rgb(255, 147, 147)!important;
    color: rgb(255, 255, 255);
}
.success {
    background-color: rgb(22, 186, 120);
    color: rgb(255, 255, 255);
}
.disabled {
    background-color: rgb(252, 252, 252);
}
