<template>
    <div class="container">
        <h1>Fake Users Data</h1>
        <x-table class="data-table" :items="items"></x-table>
    </div>
</template>

<script>
import faker from 'faker'
import XTable from './XTable'

export default {
    components: {
        XTable,
    },
    data() {
        return {
            items: [],
        }
    },
    created() {
        this.fetchUsers()
    },
    methods: {
        fetchUsers() {
            for (let index = 0; index < 100; index++) {
                this.items.push(this.createFakeUser())
            }
        },
        createFakeUser() {
            return {
                name: `${faker.name.firstName()}, ${faker.fake.lastName}`,
                job: faker.name.jobTitle(),
                email: faker.internet.email(),
                amount: faker.random.number(),
            }
        }
    }
}
</script>

<style scoped>
.data-table {
    background: #ffffff;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;
}
</style>
