<template>
<div class="main">
    <div class="x-table-wrapper">
        <div class="x-table">
            <div class="x-table-header">
                <div class="x-row-header">
                    <div class="x-header x-w-30">NAME</div>
                    <div class="x-header x-w-30">JOB TITLE</div>
                    <div class="x-header x-w-30">EMAIL</div>
                    <div class="x-header x-w-10 right">AMOUNT</div>
                </div>
            </div>

            <div class="x-table-content" v-fit-screen-height>
                <div class="x-row" v-for="item in items" :key="item.id">
                    <div class="x-cell x-w-30">{{ item.name }}</div>
                    <div class="x-cell x-w-30">{{ item.job }}</div>
                    <div class="x-cell x-w-30">{{ item.email }}</div>
                    <div class="x-cell x-w-10 right">{{ item.amount }}</div>
                </div>

                <div class="x-row-footer">
                    <div class="x-cell x-w-30"></div>
                    <div class="x-cell x-w-30"></div>
                    <div class="x-cell x-w-30">TOTAL</div>
                    <div class="x-cell x-w-10 right">4444</div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { FitScreenHeight } from '../directives/fitScreenHeight'

export default {
    directives: {
        FitScreenHeight,
    },
    props: {
        items: { type: Array, required: true },
    }
}
</script>

<style lang="scss" scoped>
@import '../../sass/x-table.scss';
.main {
    padding: 0 10px;
}
</style>
